



body {
	background-color: #F08FC0;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;

}

h1 {font-family: Forte;
	font-size: 35 px;
	color: #AE00FB;
	letter-spacing: 5px;


} 

h2 {font-family: Roberto;
font-size: 30px;
color: #AE00FB;

}
a {color: #2D46B9;
text-decoration: none;

}
a:hover{color:  #FC92E3}


i {
font-size: 40px;

}




.card-white{
	background-color: white;
	padding: 30px;
	margin: 20px 0;
	border-radius: 4px;
	box-shadow: 10px 35px 20px rgba(0, 0, 0,0.1);
}

.btn-orange{
background-color: #2D46B9;
color: white;
padding: 10px 20px;
font-weight: bold;
border-radius: 4px;
}


.img-circle{
	border-radius: 50%;
}

.btn-orange: hover{
	background-color: black;
}

.font-bold {
	font-weight: bold;
}

.list-inline {
	list-style: "\1F393";
}

.list-inter {
	list-style: "\1F929";
}

.list-pro {
	list-style: "\1F4DD";
}

.container{
	width:  900px;
	margin:  0 auto;
	text-align: center;
}

@media (max-width: 992px){
	.container {width: 800px}
}


@media (max-width:768px){
	.container {width: 400px}
}

	


/*Phones : @media (max-width:768px){width: 400px}
Tablets : @media (max-width: 992px) width: 750px}

/* 1F929
1F5D2
1F4DD